{% load static %}
<!DOCTYPE html>
<html lang="ru" data-bs-theme={{ color_scheme }} class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<header class="bg-primary">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url "blog:index" %}>WB Scripts</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href={% url "blog:news_list_page" %}>Новости</a>
                        </li>
                        <li class="nav-item">
                            <form class="d-flex" method="GET" action="{% url 'blog:search' %}">
                                <input class="form-control me-2 mx-1" type="search" placeholder="Искать-на-сайте"
                                       aria-label="Search" name="search"/>
                                <button class="btn btn-outline-primary" type="submit">Поиск</button>
                            </form>
                        </li>
                        <li class="nav-item mx-md-2 mt-2 mt-md-0">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#LeaveFeedback">
                                Оставить отзыв
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item mt-2 mx-2 text-white">
                            <div class="form-check form-switch icons">
                                <input class="form-check-input" type="checkbox" role="switch" id="btnSwitch"
                                        {% if color_scheme == 'light' %}
                                       checked
                                        {% endif %}/>
                                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">{{ request.user }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}

<footer class="footer mt-auto py-3">
    <div class="container footer-border">
        <div class="row pt-2">
                <span class="color2 text-center">
                2023г.
                <a href="https://github.com/proDreams/">proDream</a>
            </span>
        </div>
    </div>
</footer>


<div class="modal fade" id="LeaveFeedback" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Оставить отзыв</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="." method="post" class="form">
                    {% csrf_token %}
                    {{ feedback_form }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src={% static "js/bootstrap.bundle.js" %}></script>
<script src={% static "js/main.js" %}></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</body>
</html>
